<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Restaurant</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Home</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">About</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">Menu</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">pa and pi resto</h1>
        <p class="home__subtitle">menu pa and pi resto</p>
      </section>
      <!-- Bagian Tentang Saya -->
      <section class="main__about about" id="about">
        <h2 class="about__title">tentang </h2>
        <div class="about__info info-block">restoran ini sudah berdiri sejak tahun 1977, restoran ini adalah restoran pizza dan pasta, pa dan pi restaurant atau bisa disebut pasta and pizza resto adalah restoran yang murah dan enak, terjamin anda akan mau mencoba terus 
          <p class="info-block__text">
            
          </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Bagian Keterampilan -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">Menu</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/chicken hot pizza.jpeg"
                alt="pizza chicken hot"
                width="150"
                height="150"
              />
              <span class="skill__info">pizza chicken hot<br>RP 50,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/pepperoni pizza.jpeg"
                alt="pepperoni"
                width="150"
                height="150"
              />
              <span class="skill__info">pizza pepperoni<br>RP 40,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/vegetarian.jpeg"
                alt="vegetarian"
                width="150"
                height="150"
              />
              <span class="skill__info">pizza vegetarian RP45,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/tuna lover.jpeg"
                alt="tuna"
                width="150"
                height="150"
              />
              <span class="skill__info">pizza tuna lover RP55,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/spaghetti pesto.jpeg"
                alt="chorizo e funghi rossa"
                width="150"
                height="150"
              />
              <span class="skill__info">pesto RP40,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/spaghetti bolognese.jpeg"
                alt="tuna"
                width="150"
                height="150"
              />
              <span class="skill__info">bolognese RP50,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/spaghetti pomodoro riccota.jpeg"
                alt="tuna"
                width="150"
                height="150"
              />
              <span class="skill__info">pomodoro riccota RP40,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/fettucinne spinach funghi.jpeg"
                alt="tuna"
                width="150"
                height="150"
              />
              <span class="skill__info">fettucinne spinach funghi RP50,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/fettucinne meatball.jpeg"
                alt="tuna"
                width="150"
                height="150"
              />
              <span class="skill__info">meatball fettucinne RP50,000</span>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/fettucinne alfredo.jpeg"
                alt="tuna"
                width="150"
                height="150"
              />
              <span class="skill__info">fettucinne alfredo RP50,000</span>
              <li class="skills-list__skill skill">
                <img
                  class="skill__img"
                  src="../static/img/fetucchinne spinach bolognese.jpeg"
                  alt="tuna"
                  width="150"
                  height="150"
                />
                <span class="skill__info">spinach bolognese fettucinne RP50,000</span>
              </li>
              <li class="skills-list__skill skill">
                <img
                  class="skill__img"
                  src="../static/img/fusilli tonno.jpeg"
                  alt="tuna"
                  width="150"
                  height="150"
                />
                <span class="skill__info">fusilli tonno RP50,000</span>
                <li class="skills-list__skill skill">
                  <img
                    class="skill__img"
                    src="../static/img/riccota.jpeg"
                    alt="tuna"
                    width="150"
                    height="150"
                  />
                  <span class="skill__info">riccota RP40,000</span>
                </li>
                <li class="skills-list__skill skill">
                  <img
                    class="skill__img"
                    src="../static/img/strawberry milkshake.jpeg"
                    alt="tuna"
                    width="150"
                    height="150"
                  />
                  <span class="skill__info">strawberry milkshake RP30,000</span>
                  <li class="skills-list__skill skill">
                    <img
                      class="skill__img"
                      src="../static/img/milkshake coklat.jpeg"
                      alt="tuna"
                      width="150"
                      height="150"
                    />
                    <span class="skill__info">chocolate milkshake RP30,000</span>
                    <li class="skills-list__skill skill">
                      <img
                        class="skill__img"
                        src="../static/img/vannilla milkshake.jpeg"
                        alt="tuna"
                        width="150"
                        height="150"
                      />
                      <span class="skill__info">vanilla milkshake RP30,000</span>
                      <li class="skills-list__skill skill">
                        <img
                          class="skill__img"
                          src="../static/img/lemon tea.jpeg"
                          alt="tuna"
                          width="150"
                          height="150"
                        />
                        <span class="skill__info">lemon tea RP20,000</span>
                      </li>
                      <li class="skills-list__skill skill">
                        <img
                          class="skill__img"
                          src="../static/img/teh.jpeg"
                          alt="tuna"
                          width="150"
                          height="150"
                        />
                        <span class="skill__info">tea plain/sweet RP10,000</span>
                      </li>
                        <li class="skills-list__skill skill">
                          <img
                            class="skill__img"
                            src="../static/img/jus alpukat.jpeg"
                            alt="tuna"
                            width="150"
                            height="150"
                          />
                          <span class="skill__info">avocado juice RP25,000</span>     
                          <li class="skills-list__skill skill">
                            <img
                              class="skill__img"
                              src="../static/img/jus semangka.jpeg"
                              alt="tuna"
                              width="150"
                              height="150"
                            />
                            <span class="skill__info">watermelon juice RP30,000</span>
                          </li>
                          <li class="skills-list__skill skill">
                            <img
                              class="skill__img"
                              src="../static/img/jus mangga.jpeg"
                              alt="tuna"
                              width="150"
                              height="150"
                            />
                            <span class="skill__info">mango juice RP35,000</span>
                          </li>
                          <li class="skills-list__skill skill">
                            <img
                              class="skill__img"
                              src="../static/img/jus jeruk.jpeg"
                              alt="tuna"
                              width="150"
                              height="150"
                            />
                            <span class="skill__info">orange juice RP25,000</span>                                       
                        </li>
                      </ul>
        </form>
      </section>
      <!-- Formulir Masukan -->
      {% block content %}
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">Order</h2>
        <form action="{{ url_for('form_create') }}" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Nama Pemesan" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Tulis Pesanan"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
      {% endblock %}
    </main>
    <!-- Sebuah footer  &copy; -->
    <footer>
      <div class="footer">
        <p> 2024 Ethan. All rights reserved.</p>
      </div>
    </footer>
      
  </body>
</html>
